{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit expense{% endblock %}</h1>
{% endblock %}

{% block content %}   
{% from "expense/_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.date) }}
        {{ render_field(form.value) }}
        {{ render_field(form.item) }}
    </dl>
    <div style="width:400px;">
        <div style="float: left; width: 130px">
            <input type="submit" value="Submit">
        </div>
        <div style="float: right; width: 225px">
            <input type="submit" value="Menu" formaction="{{ url_for('expense.select_operation') }}">
        </div>
    </div>
</form>
{% endblock %}