{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Select Operation{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        Create a new expense <input type="radio" value="create" name="mycheckbox">
        Update an already existing expense <input type="radio" value="update" name="mycheckbox">
        Read total expenditure <input type="radio" value="read" name="mycheckbox">
        Delete an expense <input type="radio" value="delete" name="mycheckbox">
        <input type="submit">
    </form>
{% endblock %}
