<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Select the CURD operation</h1>
    <form method="post">
        Create <input type="checkbox" value="create" name="mycheckbox">
        Update <input type="checkbox" value="update" name="mycheckbox">
        Read <input type="checkbox" value="read" name="mycheckbox">
        Delete <input type="checkbox" value="delete" name="mycheckbox">
        <input type="submit">
    </form>
</body>
</html>
