<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Update the Expense</h1>
    <form method="post">
        <label for="date">Date</label>
        <input name="date" id="date" required>
        <label for="value">Value</label>
        <input name="value" id="value" required>
        <label for="category">category</label>
        <input name="category" id="category" required>
        <input type="submit">
    </form>
</body>
</html>
